<h1 class="text-light">All Countries:</h1>
<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                Country Name
            </th>
            <th class="text-light">
                Language Name
            </th>
            <th class="text-light"></th>
            <th class="text-light"></th>
        </tr>
    </thead>
    <tbody id="allCountries">
    </tbody>
</table>
<p>
    <a asp-action="Create" class="create-btn">Add Country</a>
</p>
@section Scripts {
    <script>
        var accessToken = window.localStorage.getItem('accessToken');
        $(function () {
            $.ajax({
                method: "Get",
                url: "https://demotestapi.catalist-me.com/api/Country/GetAllCountries",
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", `Bearer ${accessToken}`);
                },
                success: function (data) {
                    if (!data.response)
                        alert("Not allowed operation!")
                    let countries = data.response.countries;
                    console.log(countries);
                    for (let i = 0; i < countries.length; i++) {
                        var appendRowTxt = `<tr id='${countries[i].id}'>
                                                            <td class="text-light">${countries[i].countryName}</td>
                                                            <td class="text-light">${countries[i].languageName}</td>
                                                            <td data-assigned-id='${countries[i].id}' class="text-light" onClick="deleteCountry(this)">Delete</td>
                                                            <td data-assigned-id='${countries[i].id}' class="text-light" onClick="editCountry(this)">Edit</td>
                                                        </tr>`

                        $("#allCountries").append(appendRowTxt);
                    }
                },
                error: function (err) {
                    console.log(err);
                    alert(err.responseText);
                }
            });
        })

        function deleteCountry(elem) {
            var id = $(elem).data('assigned-id');
            var accessToken = window.localStorage.getItem('accessToken');
            if (confirm("Are you sure you to delete this countey?")) {
                $.ajax(
                    {
                        type: "DELETE",
                        url: `https://demotestapi.catalist-me.com/api/Country/DeleteCountry?CountryID=${id}`,
                        beforeSend: function (request) {
                            request.setRequestHeader("Authorization", `Bearer ${accessToken}`);
                        },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        statusCode: {
                            200: function (data) {
                                if (!data)
                                    alert("Not allowed operation!")
                                console.log(data.message)
                                window.location.href = '/country/Index';
                            },
                            400: function (err) {
                                alert(err.responseText)
                            },
                        },
                    }
                )
            }
        }

        function editCountry(elem) {
            var id = $(elem).data('assigned-id');
            window.location.href = `/country/edit/id?${id}`;
        }
    </script>
}