@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="text-center greetings m-4">
        <h1 class="text-light">Welcome to Worldwide</h1>
    </div>
    <br />
    <div class="text-center m-4">
        <a id="login" class="btn-style" onclick="login()">Login</a>
        <a id="countries" class="btn-style" onclick="getAll()">All Countries</a>
    </div>
    <img src="~/css/worldwide.png" width="60%"/>
</div>


@section Scripts {
    <script>
        $(function () {
            var accessToken = window.localStorage.getItem('accessToken');
            if (accessToken)
                $("#login").css("display", "none");
            else
                $("#countries").css("display", "none");
        })
        function login() {
            window.location.href = `/home/login`;
        }
        function getAll() {
            window.location.href = `/country/index`;
        }
    </script>
}