@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center greetings m-4">
    <h1 class="text-light">Welcome</h1>
    <p class="text-light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center m-4">
    <a id="login" class="btn-style" onclick="login()">Login</a>
    <a id="countries" class="btn-style" onclick="getAll()">All Countries</a>
</div>

@section Scripts {
    <script>
        $(function () {
            var accessToken = window.localStorage.getItem('accessToken');
            if (accessToken)
                $("#login").css("display", "none");
            else
                $("#countries").css("display", "none");
        })
        function login() {
            window.location.href = `/home/login`;
        }
        function getAll() {
            window.location.href = `/country/index`;
        }
    </script>
}