@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="container">
    <div class="login-coontainer">
        <div class="login-header">
            <h1>Login Form</h1>
        </div>
        <input class="username-login" type="text" name="username" placeholder="username" />
        <input class="password-login" type="password" name="password" placeholder="password" />
        <div class="login-footer">
            <a class="btn-style" onclick="login()">Sign In</a>
            <span>Lost Your Password?</span>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function login() {
            var name = $("[name='username']").val();
            var password = $("[name='password']").val();
            var user = { userName: name, password: password };
            $.ajax(
                {
                    type: "POST",
                    url: "https://demotestapi.catalist-me.com/api/Login/UserSignIn",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(user),
                    statusCode: {
                        200: function (data) {
                            if (!data.response.accessToken)
                                alert("Wrong username or password")
                            console.log(data.response.accessToken)
                            window.localStorage.setItem("accessToken", data.response.accessToken);
                            window.location.href = '/country/Index';
                        },
                        400: function (err) {
                            alert(err.responseText)
                        },

                    },
                }
            )
        }
    </script>
}
